<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/prestyle.css">
</head>
<body>
    <img class="pre" src="../static/img/pre.png" width="50%" />
    <!--<a href="http://192.168.0.10:9999/caution1"><img class="arrow" src="../static/img/arrow.png" , /></a>-->
    <img id="myImage" class="arrow" src="../static/img/arrow.png"/>
    <script>
        // 이미지 클릭 시 이벤트 핸들러
        document.getElementById("myImage").addEventListener("click", function() {
            // 현재 위치/caution1 URL로 이동
            window.location.href = window.location.origin + "/caution1";
        });
    </script>
</body>
</html>