img.cau{
    position: absolute;
    left: 400px;
    top: 100px;
}

img.test{
    position: absolute;
    left: 600px;
    top: 400px;
    animation: up-down 1.0s infinite ease-in-out alternate;
}

@keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-5px);
    }
  }